*{
    background-color: #333;
    font-family: 'Inter', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
h2,h1, h4{
    color: #fff;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
}
a {
    text-decoration: none;
    color: #fff;
  }
  
  ul, li {
    list-style: none;
  }
.container {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    height: 80vh;
    width: 100%;
    margin: 0 20px;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
	padding: 5px;
}
header ul{
    display: grid;
	grid-template-columns: repeat(6, 120px);
	padding: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
menu{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	padding: 5px;
}
menu .item{
    width: 300px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 33, 33);
    border: 2px dashed #ffb742;
    border-radius: 10px;
}
.item-text{
    display:flex;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
}
.item-text h2{
    background-color: rgb(34, 33, 33);
}
.item-text p{
    background-color: rgb(34, 33, 33);
    color: azure;
}
menu img:first-child{
    width: 50px;
    height: 50px;
    
    background-color: rgb(34, 33, 33);
}
menu img:last-child{
    width: 20px;
    height: 20px;
    
    background-color: rgb(34, 33, 33);
}
footer{
    width: 100%;
    margin-top: 50px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
	padding: 5px;
    background-color: black;
}
.footer-f{
    background-color: black;
    color: azure;
}
.footer-f h3{
    background-color: black;
}
.footer-f p{
    background-color: black;
    color: rgb(151, 150, 150);
}
.footer-f a{
    background-color: black;
    color: #333;
}
.footer-f li{
    background-color: black;
}
.footer-f ul{
    background-color: black;
}
.footer {
    color: #fff;
    padding: 10px;
    text-align: center;
}
